.card {
    min-height: 300px;
    min-width: 300px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-scroll {
    overflow-x: auto;
}

.custom-input {
    border: 10px;
    border-color: black;
    background: gray;
}